html {
    background-color: #eee;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    font-family: sans-serif;
}
@media (min-width: 830px) {
    body {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}
.header {
    padding: 0 15px;
    background-color: white;
    border-bottom: 1px solid gray;
}
.content {
    background-color: white;
    flex: 1;
    padding: 15px 24px;
}
p {
    color: #666666;
    line-height: 1.5;
}
pre {
    padding: 18px 12px;
    background: #3c3f47;
    color: white;
}
.example {
    margin-top: 12px;
    margin-bottom: 12px;
}
svg {
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}
svg.small {
    height: 250px;
    width: 250px;
}

button {
    display: block;
    background: white;
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}